.filter-btn {
  background-color: $yellow;
  border: $basicBorder;
  box-shadow: $btnShadow;
  font-family: $fancyfont;
  font-size: 1.5rem;
  margin: 1rem 0;
  text-transform: uppercase;
  transform: $btnSkew;
  &:hover {
    box-shadow: $btnShadow-hover;
    cursor: pointer;
    text-decoration: underline;
  }
}

.filter-dropdown {
  border: $basicBorder;
  font-family: $fancyfont;
  font-size: 1.5rem;
  height: 2.7rem;
  transform: $btnSkew;
}

.filter-form {
  text-align: center;
}