.card-container {
  margin-top: 4rem;
  display: grid;
  grid-gap: 2%;
  padding: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  justify-items: center;
  text-align: center;
}
