body {
  background: url('../assets/BW-halftone.png');
  background-color: #d9d9d9;
  background-repeat: no-repeat;
  background-position: cover;
  background-size: 100% 100%;
  margin: 10px;
}

h2 {
  font-family: $fancyfont;
  font-size: 2rem;
}
